# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\mortaza\programming\program language\Tutorial\PHP Tutorial\PHP Part 3 ( PHP MVC (Digikala) )\digikala\digikala\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
